.idea/
site
log.txt
__pycache__/
*.py[codz]
*$py.class
scratch
docs/uploads/matplotlib/*.svg
docs/uploads/matplotlib/*.webp
scripts/.env
node_modules/
GuideToCompetitiveProgramming_output
# Wrangler cache
.wrangler/
# Test files
_test_*